<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body>
    <div class="header" id="Home">
        <div class="container">
            <nav>
                <h1>E-TTABIB</h1>
                <ul class="links">
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#Contact Us">Contact Us</a></li>
                </ul>
                <button class="log"><a href="/logind">Join Us Doctor</a></button>
                
            </nav>
            <div class="content">
                <h3>Welcome To <span>E-TTABIB</span></h3>
                <p>We understand the critical importance of organized and secure patient information in healthcare. Our platform is designed to streamline the management of medical files, ensuring that healthcare providers can access accurate patient records efficiently. </p>
                <div class="buttons">
                    <button class="log"><a href="/logind" >Join Us Doctor</a></button>
                    <button class="log"><a href="/loginP" >Join Us Patient</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="About" id="About">
        <h3 class="title">About</h3>
        <div class="container">
            <div class="grid-about">
                <div class="overview">
                    <i class="fa-solid fa-marker"></i>
                    <h3>Overview</h3>
                    <p>
                        At E-TTABIB, we are dedicated to revolutionizing healthcare through advanced medical file management solutions. Founded in 2023 and headquartered in Morocco, we have been at the forefront of healthcare technology, driven by a passionate team of experts in both healthcare and cutting-edge technology. Our mission is clear: to simplify the complex process of managing patient medical files, making it easier for healthcare providers to deliver top-quality care and enhancing the overall patient experience.
                    </p>
                </div>
                <div class="mission">
                    <i class="fa-solid fa-thumbtack"></i>
                    <h3>Mission Statement</h3>
                    <p>
                        Our mission at E-TTABIBs is to empower healthcare providers and institutions with the tools they need to provide exceptional patient care. We believe that efficient medical file management is fundamental to improving healthcare outcomes, reducing administrative burdens, and enhancing the overall patient experience.
                    </p>
                </div>
            </div>
            <!-- <div class="team">
                <h3 class="title-team">Team</h3>
                <div class="team-conte">
                    <div class="box">
                        <img src="imgs/avatar1.jpg" alt="">
                        <h3>One</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit incidunt ratione, soluta quibusdam praesentium id aut odit magnam quasi esse hic rem doloremque adipisci reiciendis quaerat vero maiores asperiores architecto.</p>
                    </div>
                    <div class="box">
                        <img src="imgs/avatar1.jpg" alt="">
                        <h3>One</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit incidunt ratione, soluta quibusdam praesentium id aut odit magnam quasi esse hic rem doloremque adipisci reiciendis quaerat vero maiores asperiores architecto.</p>
                    </div>
                    <div class="box">
                        <img src="imgs/avatar1.jpg" alt="">
                        <h3>One</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit incidunt ratione, soluta quibusdam praesentium id aut odit magnam quasi esse hic rem doloremque adipisci reiciendis quaerat vero maiores asperiores architecto.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="services" id="Services">
        <h3 class="title">Services</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="box">
                        <h3>one</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet ipsa, rerum illo a repellendus fugit iure ad mollitia repudiandae praesentium odio? Ipsam, deleniti laborum corporis porro placeat esse facere quos.</p>
                    </div>
                    <div class="box">
                        <h3>one</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet ipsa, rerum illo a repellendus fugit iure ad mollitia repudiandae praesentium odio? Ipsam, deleniti laborum corporis porro placeat esse facere quos.</p>
                    </div>
                    <div class="box">
                        <h3>one</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet ipsa, rerum illo a repellendus fugit iure ad mollitia repudiandae praesentium odio? Ipsam, deleniti laborum corporis porro placeat esse facere quos.</p>
                    </div>
                </div>
                <div class="col">
                    <img src="css/services.jpg" alt="Services">
                </div>    
                <div class="col">
                    <div class="box">
                        <h3>one</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet ipsa, rerum illo a repellendus fugit iure ad mollitia repudiandae praesentium odio? Ipsam, deleniti laborum corporis porro placeat esse facere quos.</p>
                    </div>
                    <div class="box">
                        <h3>one</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet ipsa, rerum illo a repellendus fugit iure ad mollitia repudiandae praesentium odio? Ipsam, deleniti laborum corporis porro placeat esse facere quos.</p>
                    </div>
                    <div class="box">
                        <h3>one</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet ipsa, rerum illo a repellendus fugit iure ad mollitia repudiandae praesentium odio? Ipsam, deleniti laborum corporis porro placeat esse facere quos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact" id="Contact Us">
        <h3 class="title">Contact Us</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>To contact us, fill out this form</h3>
                    <form action="/send-email" method="POST">
                        <input type="email" name="user_email" placeholder="Email">
                        <input type="text" name="subject" placeholder="About">
                        <textarea name="message" cols="30" rows="10" placeholder="Your message"></textarea>
                        <button type="submit" class="log"><i class="fa-regular fa-paper-plane"></i>Send</button>
                    </form>
                </div>
                <div class="col">
                    <img src="css/contact.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="first-part">
                <div class="some-links">
                    <h4>Some Links</h4>
                    <ul class="links">
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#About">About</a></li>
                        <li><a href="#Services">Services</a></li>
                        <li><a href="#Contact Us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="Adress">
                    <h4>Adress</h4>
                    <address>
                        Written by A Team<br>
                        Visit us at: E-Etabib.com<br>
                        Example.com<br>
                        Box 564, Ensa Fes<br>
                        Fes
                    </address>
                </div>
                <div class="social-media">
                    <h4>Social Media</h4>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="copy-right">
                <i class="fa-regular fa-copyright"></i>
                <span>copyright 2023 powred by E-TTABIB Team</span>
            </div>
        </div>
    </footer>
</body>
</html>