<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login Doctor</title>
</head>
<body>

    <h1>Login Doctor</h1>
    {{#if errorMessage}}
    <div class="alert alert-danger" style="color: white;">{{errorMessage}}</div>
    {{/if}}
    <form action="/logind" method="post" >
        {{!-- <div class="name">
            <input placeholder="Name" name="name" type="text">
        </div> --}}
        <div class="idCard">
            <input placeholder="ID Card" name="idCard" type="text" minlength="7" maxlength="7" required>
        </div>
        <div class="password">
            <input placeholder="Password" name="password" type="password" minlength="7" maxlength="7" required>
        </div>
        <input class="sub log" type="submit">
        <div class="another">
            <h3>Dont have a account ?</h3>
            <a href="/signupd">Create a new account</a>
        </div>
    </form>


    
</body>
</html>