
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :root {
    --main-color: #10253f ;
    --main-color-alt: #527c88;
    --main-color-alt2:#d7baad;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
    --back-ground: #0094bd;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

body {
    position: relative;
    width: 100%;
    height: 100vh;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
}

.container  .info-d {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    background-color: white;
    width: 18%;
    padding: 0px;
    position: relative;
    z-index: 100;

}

.container  .info-d::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    z-index: -1;
}

.container  .info-d .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    padding-left: 8px;
}
.container  .info-d .box img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;

}
.container  .info-d .box ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    position: relative;

}
.container  .info-d .box ul li {
    font-size: 15px;
    color: var(--main-color-alt);
}

.container  .info-d .box ul li a {
    color: var(--main-color-alt);
    transition: var(--main-transition);
}

.container  .info-d .box ul li:hover a {
    color: black;
    transform: scale(4px);

}
/* .container  .info-d .box ul li:hover {
    color: white;
    cursor: pointer;
} */
.container  .info-d .box ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(47, 133, 155, 0.815);
}

.hidden {
    display: none;
}

.visible {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("patient-add.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
    
}
.visible::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.486);
}
.visible h1 {
    color: white;
}
.visible input {
    margin: 8px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;

}

.visible label {
    color: wheat;
    padding-right: 14px;
    font-size: 15px;
    font-weight: bold;
}

.visible #saveButton {
    border: none;
    font-weight: bold;
    color: white;
    background-color: var(--main-color-alt);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;

}

.visible .radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.visible textarea {
    background-color: rgba(255, 255, 255, 0.342);
    outline: none;
    width: 50%;
    margin-bottom: 10px;
}

.patient-all {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("dash-med.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    gap: 50px;
    position: relative;
    overflow: scroll;
    z-index: 100;
}

.patient-all::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: -1;
}

.patient-all form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.patient-all form input {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10 #ddd;
    outline: none;
    border-radius: 20px;
    padding: 5px 10px;
    width: 300px;
}
.patient-all form i{
    color: transparent;
    transition: var(--main-transition);
}

.patient-all form i {
    color: white;
}

#patientInfo  {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    width: 100%;
    gap: 10px;

}

#patientInfo div {
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10 #ddd;
    border-radius: 20px;
    padding: 10px;
    height: 250px;
    /* position: relative; */
    transition: var(--main-transition);
    background-color: rgba(0, 0, 0, 0.151);
    color: white;
}


#patientInfo .diagno {
    background-color: transparent;
    transform: none;
    z-index: 100;
    width: 100%;
    height: 100%;
}

#searchIdCard{
    outline: none;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10 #ddd;
    padding: 10px 20px;
    
}
#allButton {
    border: none;
    font-weight: bold;
    color: white;
    background-color: var(--main-color-alt);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 2px;
}

#inButton {
    border: none;
    font-weight: bold;
    color: white;
    background-color: var(--main-color-alt);
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}